.Appp{
    width: 300px;
    height: 300px;
    background-color: color;
    transition: 0.5s;
    align-items: center;
}
.Appp button{
    align-items: center;
    gap: 20px;
}
.block{
    width: 300px;
    height: 300px;
    transition: 0.4s;
    
}